<ng-container *ngIf="(state$ | async); let state">
  <div id="dropdown-container">
    <div>
      <label for="continent-dropdown">Region</label>
      <countries-dropdown [elements]="selectableContinents"
        [value]="state.selectedContinent"
        placeholder="Please select a region"
        (selectElement)="pickContinent($event)"
        inputId="continent-dropdown">
        <ng-template #dropdownElementTemplate let-continent>
            {{ continent }}
        </ng-template>
      </countries-dropdown>
    </div>
  </div>

  <div id="map-container">
    <countries-map></countries-map>
  </div>
</ng-container>
