@import "~src/styles/variables";

:host {
  #dropdown-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    label {
      margin-right: 16px;
    }

    countries-dropdown {
      & + button {
        margin-left: 16px;
      }
    }
  }

  #map-container {
    width: 90%;
    height: calc(100vh - 150px);
    margin: auto;
    margin-top: 30px;
  }

  #country-details-container {
    position: absolute;
    bottom: -30vh;
    left: 0;
    width: 100vw;
    height: 30vh;
    color: $colour-background;
    background-color: $colour-highlight;
    box-shadow: $shadow;
    transition: all 350ms;

    &.visible {
      bottom: 0;
    }
  }
}
