<form #host [hidden]="hidden" [class.open]="open" autocomplete="off" >
  <input #input
    [id]="inputId"
    [name]="inputId"
    [ngClass]="inputId"
    type="text"
    [(ngModel)]="filterExpression"
    [ngModelOptions]="{ standalone: true }"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    (keydown.tab)="enter()"
    (keydown.enter)="enter()"
    [readonly]="readonly" />
  <div class="list-container"
    [ngClass]="{ 'down': !dropUp, 'up': dropUp }"
    [ngStyle]="{ 'max-height': dropDownMaxHeight + 'px', visibility: visibility }">
    <ul>
      <li *ngFor="let element of filteredElements"
        #filteredDOMElement tabindex="-1"
        (click)="select(element, $event)"
        (keydown)="onKeydown($event, element)">
          <span><ng-container *ngTemplateOutlet="dropdownElementTemplate; context: { $implicit: element.display, searchables: element.searchables }"></ng-container></span>
      </li>
    </ul>
  </div>
</form>
